*.userprefs
*.dll.mdb
*.exe.mdb

.vs/
*.suo
*.user
*.sln.docstates
.leu

.DS_Store

.vscode
.idea
.ionide
*.swp

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
**/AssemblyInfo.fs

build/
.fsdocs/

.fake

vscode-extension/node_modules/
vscode-extension/out/
vscode-extension/bin/
vscode-extension/*.vsix
vscode-extension/package-lock.json
vscode-extension/.vscode-test/
