!bin/**
!bin/FSLint.LanguageServer.dll
!bin/FSLint.LanguageServer.deps.json
!bin/FSLint.LanguageServer.runtimeconfig.json
!bin/FSharp.Compiler.Service.dll

# Source
src/**
*.ts
tsconfig.json
build.sh
test.fs
test-copy.fs
*.vsix
webpack.config.js

# Development
.vscode/**
.vscode-test/**
.gitignore
.git/**
.DS_Store
nul
dist/**

# Logs
*.log